

.header {
    display: flex;
    background-color: #752720;
}

.header-box {
    font-family: 'Lilita One';
    font-size: 30px;
    display: flex;
    background-color:#F7958D;
    width: 100%;
    margin:auto;

    justify-content: space-between;
    align-items: center;
}

.wrapper{
    display: flex;
    background-color: #752720;
    justify-content: center;
    align-items: center;
}

.body{
    display: flex;

    background-color: #F7958D;
    width: 960px;

    padding: 5px;
    margin: 10px;

    justify-content: space-around;
    
    flex-wrap: wrap;
}

.image-caption{
    width: 33%;
    flex-direction: column;
    

}

.image-body{
    max-width: 75%;
}

.caption-body{
    background-color: #E5C9BD;
    text-align: center;
    height: 100px;
}

.history-body{
    width: 66%;
    font-family: sans-serif;
    background-color: #E5C9BD;
}